{% extends 'base.html.twig' %}

{% block pageTitle %}Accueil{% endblock %}
{% block body %}

<section class="mt-5 d-flex justify-content-around">
<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Affichage liste Document</h5>
    <p class="card-text">Affichage des livres.</p>
    <a href="#" class="card-link">Voir catalogue</a>
  </div>
</div>
<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ajouter Document</h5>
    <p class="card-text">Ajouter document dans la liste.</p>
    <a href="#" class="card-link">Ajout document</a>
  </div>
</div>
<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Voir les emprunteurs</h5>
    <p class="card-text">Voir la liste des emprunteurs.</p>
    <a href="#" class="card-link">Voir emprunteurs</a>
  </div>
</div>
</section>

{% endblock %}