{% extends 'base.html.twig' %}

{% block title %}Rent Documents{% endblock %}

{% block body %}
    <h1>Emprunter documents</h1>
    {{ include('documents/_form.html.twig') }}

    <a href="{{ path('documents_index') }}" class="btn btn-success">Revenir à liste</a>
{% endblock %}