{% extends 'base.html.twig' %}

{% block title %}New Documents{% endblock %}

{% block body %}
    <h1>Créer un nouveau documents</h1>
    <!-- <form class="form-inline" action="" method="post">
      <select class="form-control" name="category">
        <option value="...">Trier...</option>
        <option value="1">horror</option>
        <option value="0">comedy</option>
      </select>
      <button class="btn btn-primary" type="submit" name="button">OK</button>
    </form> -->


    {{ include('documents/_form.html.twig') }}

    <a href="{{ path('documents_index') }}">Revenir à liste</a>
{% endblock %}
