{% extends 'base.html.twig' %}

{% block title %}New Borrower{% endblock %}

{% block body %}
    <h1>Ajouter nouvel emprunteur</h1>

    {{ include('borrower/_form.html.twig') }}

    <a href="{{ path('borrower_index') }}">Revenir à liste</a>
{% endblock %}
